@import url('https://cdn.jsdelivr.net/font-nanum/1.0/nanumSquare/nanumSquare.css');

body {
  font-family: 'NanumSquare', sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.index
{
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.item {
  width: 300px;
  margin: 0 20px 0;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item h3 {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

.item p {
  margin: 0 20px 20px;
  font-size: 16px;
  color: #666;
}

.ranking{
  width: 300px;
  margin: 0 20px;
  background-color: #000;
  border-radius: 4px;
}
.ranking p1{
  margin: 20px;
  color: gold;
}
.ranking p2{
  margin: 20px;
  color: silver;
}
.ranking p3{
  margin: 20px;
  color: #CD7F32;
}
.ranking p4{
  margin: 20px;
  color: #fff;
}

a{
  text-decoration: none;
}


a:link{color: #9999FF;}
a:visited{color: #9999FF;}
a:hover{
  text-decoration: none;
  color: #b0b0ff;
}
a:active{opacity: 0.9;}

.container > a:link{color: #000;}
.container > a:visited{color: #000;}
.container > a:hover{color: #000;}
.container > a:active{opacity: 1.0;}
