@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

body {
  font-family: 'NanumSquare', sans-serif;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  font-size: 16px;
  font-family: 'NanumSquare', sans-serif;
  box-sizing: border-box; /* 입력 창 크기 고정 */
}

button {
  padding: 10px 20px;
  background-color: #878bf7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'NanumSquare', sans-serif;
}

.result-container {
  font-size: 24px;
  font-weight: bold;
}
